@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-red-600;
}
.layout-container {
  min-height: 95vh;
}
.img-container {
  height: 85vh;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html,
body {
  font-family: 'Montserrat';
}
